.modal {
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: $ui-white;

  max-width: 500px;
  width: 100%;

  border-radius: 20px;

  z-index: 1;

  opacity: 0;
  visibility: hidden;
}

.modal--visible {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  padding: 20px;
}

.modal__content-top {
  margin-bottom: 40px;
}

.modal__button-close {
  margin-left: auto;

  display: flex;
  justify-content: center;

  background-color: $ui-white;

  padding: 6px;

  border-radius: 8px;

  border: 1px solid $ui-navy;

  cursor: pointer;

  transition: 0.3s;

  &:hover {
    background-color: $ui-navy;

    & path {
      transition: 0.3s;
      stroke: white;
    }
  }
}

.modal__content-pretop {
  margin-bottom: 40px;
}

.modal__content-title {
  color: $text-black;

  font-size: 24px;

  font-weight: 600;

  text-align: center;

  text-transform: uppercase;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  background: $ui-lightgray;
  padding: 20px 10px;
  border-radius: 8px;
}

.modal__form-label {
  position: relative;

  color: $text-black;

  font-size: 18px;

  font-weight: 600;

  text-align: center;
}

.modal__form-input {
  width: 100%;
  color: #6c757d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
  border-radius: 8px;
  border: 1px solid #e4e7ee;
  padding: 12px;

  margin-top: 10px;

  transition: 0.3s;

  outline: none;

  &:hover {
    &:hover {
      transition: 0.3s;

      box-shadow: 0px 0px 0px 2px $input-border;
    }
  }
}

.modal__form-button {
  border: 1px solid $ui-navy;

  background-color: $ui-white;

  color: $text-navy;
  padding: 12px 18px;

  display: flex;

  justify-content: center;

  align-items: center;
  gap: 10px;
  border-radius: 8px;

  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  cursor: pointer;

  transition: 0.3s;

  &:hover {
    background-color: $ui-navy;
    color: $text-white;
  }
}

.modal-send {
  // background-color: $ui-white;

  // max-width: 500px;
  // width: 100%;

  // min-height: 200px;

  // border-radius: 20px;

  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  // z-index: 999999;

  display: block;

  box-shadow: 0px 1px 6px 0px rgba(14, 25, 32, 0.11);

  margin-top: 20px;

  background-color: $ui-white;

  max-width: 500px;
  width: 100%;

  border-radius: 20px;

  z-index: 1;
}

.modal-send--display-none {
  display: none;
}

.modal-send-content {
  padding: 60px;
  text-align: center;
}

.modal-send-text {
  color: $text-black;
  font-size: 34px;
}
