.product__card {
  border-radius: 12px;

  min-height: 464px;
  width: 320px;

  display: grid;
  grid-template-rows: 1fr;

  background-color: $ui-white;

  box-shadow: 0px 1px 6px 0px $card-shadow;

  transition: 0.3s;

  position: relative;

  &:hover {
    box-shadow: 0px 16px 23px 0px $card-shadow-hover;
  }
}

.product__card-link {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product__card-top {
  overflow: hidden;

  height: 224px;

  background-color: $ui-white;

  text-align: center;

  padding: 16px 16px 8px 16px;

  border-radius: 12px 12px 0 0;

  border-bottom: 1px solid $card-border;
}

.product__card-image {
  width: 100%;
  max-width: 288px;
}

.product__card-content {
  min-height: 239px;

  display: flex;
  flex-direction: column;

  padding: 8px 16px 16px 16px;

  border-radius: 0 0 12px 12px;
}

.product__card-middle {
  text-align: start;
}

.product__card-price {
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;
}

.card__discount {
  color: $text-darkgray;

  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}

.card__discount-percent {
  color: $text-red;
  font-size: 16px;

  font-weight: 600;
}

.card__price {
  color: $text-black;

  font-size: 24px;

  font-weight: 600;
}

.card__description {
  color: $text-black;
  font-size: 16px;

  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.product__card-bottom {
  margin-top: auto;
}

.card__availability {
  padding: 6px 0;

  color: $text-green;

  font-size: 14px;

  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 4px;

  margin-bottom: 12px;

  &::before {
    content: url(../../images/check.svg);
    width: 16px;
    height: 16px;
  }

  & span {
    color: $text-gray;

    font-size: 14px;

    font-weight: 500;
  }
}

.card__availability--yellow {
  color: $text-yellow;

  &::before {
    content: url(../../images/dot.svg);
    width: 16px;
    height: 16px;
  }
}

.product__card-buttons {
  display: flex;
  gap: 8px;

  position: relative;
  z-index: 2;
}

.product__card-button {
  padding: 11px 18px;

  background-color: $ui-blue;

  border: none;
  border-radius: 8px;

  font-family: Inter;
  font-size: 16px;

  font-weight: 600;

  letter-spacing: 0.16px;
  text-transform: uppercase;

  color: $text-white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  max-width: 180px;
  width: 100%;

  transition: 0.3s;

  &::before {
    content: url(../../images/shopping-cart.svg);
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $ui-navy;
  }
}

.product__card-control {
  display: flex;
  gap: 8px;
}

.control__button--card {
  padding: 11px;
}

.product__card--none {
  display: none;
}
