$text-black: #000;
$text-navy: #000080;
$text-blue: #0178ff;
$text-white: #fff;
$text-gray: #6c757d;
$text-green: #138808;
$text-darkgray: #8a8a8a;
$text-red: #ea4343;
$text-yellow: #ffae5d;
$text-verydarkgray: #4b4b4b;

$ui-white: #fff;
$ui-navy: #0b0b90;
$ui-blue: #0178ff;
$ui-lightblue: #f9fcff;
$ui-lightgray: #f9f9f9;
$ui-gray: #6c757d;

$control-button-border: rgba(228, 228, 228, 0.5);
$input-border: #e4e7ee;
$card-border: #f0f1f2;

$card-shadow: rgba(14, 25, 32, 0.11);
$card-shadow-hover: rgba(14, 25, 32, 0.12);

$tabs-spacer: rgba(0, 7, 18, 0.1);

$footer-bg: #f5f5f6;

$header-mobile-bg: #f9fafb;
